<!--pages/bus_reservation/bus_reservation.wxml-->
<view class="content-header" wx:if="{{ reservationStatus }}">
  <view class="header-left">
    <image class="header-icon" src="http://olbl0w6dt.bkt.clouddn.com/kjs.png"></image>
    <text class="header-name">车辆预约</text>
  </view>
  <zan-button wx:if="{{ reserving.status }}" bindtap="getOff" size="mini" type="danger">取消预约</zan-button>
</view>

<view class="card-container" wx:if="{{ reservationStatus }}">
  <!--  if there exists reservations  -->
  <view wx:if="{{ registered }}">
    <!-- if user registered -->
    <view wx:for="{{reservationInfo}}" wx:key="idx" class="reservation-panel">
      <view class="cell-bd">
        <!-- zanui-weapp component: steps -->
        <zan-panel bindtap="getRouteDetail" data-name="{{ item.info.name }}">
          <zan-cell-group>
            <zan-cell>
              <zan-steps type="horizon" steps="{{item.steps}}"></zan-steps>
            </zan-cell>
            <view class="zan-arrow"></view>
          </zan-cell-group>
        </zan-panel>
        <!-- reservation content -->
        <text class="detail-hd">预约人数: </text>
        <view class="detail-bd" data-id="{{ item.info.id }}" data-status="{{ item.info.status }}" data-name="{{ item.info.name }}" data-station="{{ item.info.location }}" bindtap="handleReservation">
          <view class="detail">
            <text class="detail-value">{{ item.info.payload }}</text>
            <text class="detail-text">人</text>
          </view>
          <view>
             
          </view>
          <view class="detail" wx-if="{{ item.info.payload < payloadLimit }}">
            <text class="detail-text">再来</text>
            <text class="detail-value">{{ payloadLimit - item.info.payload }}</text>
            <text class="detail-text">人</text>
          </view>
          <view class="detail" wx:else>
            <text class="detail-success">正在发车</text>
          </view>
        </view>
      </view>
    </view>
  </view>
  <!--  if user is not registered  -->
  <view wx:else="{{ registered }}">
    <text class="emptyReservation">您尚未注册</text>
  </view>
</view>

<!--  if not at running time  -->
<view wx:else="{{ reservationStatus }}">
  <zan-panel title="运营时间">
    <zan-cell-group>
      <zan-cell wx:for="{{ timeRange }}" wx:key="idx">
        <text> 起始时间: {{ item.start }} - 停止时间: {{ item.end }}</text>
      </zan-cell>
    </zan-cell-group>
  </zan-panel>
</view>