.content-header {
  display: flex;
  align-items: center;
  height: 75rpx;
  border-bottom: 1rpx solid #e5e5e5;
  margin-left: 30rpx;
  justify-content: space-between;
}
.content-header .header-left {
  display: flex;
  align-items: center;
}
.content-header .header-icon {
  width: 40rpx;
  height: 40rpx;
  margin-right: 10rpx;
}
.content-header .header-name {
  letter-spacing: 2px;
}
.card-container .reservation-panel {
  display: flex;
  flex-direction: column;
  background: #fff;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom center;
  overflow: hidden;
  border-radius: 30rpx;
  margin: 30rpx 20rpx;
  box-shadow: 0 0 40rpx rgba(0,0,0,0.5);
  background-image: url("http://olbl0w6dt.bkt.clouddn.com/sdf-bg.png");
}
.card-container .reservation-panel navigator {
  display: flex;
  flex-direction: column;
}
.cell-bd {
  padding: 0rpx 25rpx 30rpx 0;
  margin-left: 30rpx;
  display: flex;
  flex-direction: column;
}
.cell-info-hd {
  display: flex;
  justify-content: space-between;
}
.cell-info-left {
  display: flex;
  flex-direction: column;
}
.cell-info-right {
  display: flex;
  color: #acacac;
  flex-direction: column;
}
.cell-info-payload {
  font-size: 16pt;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #acacac;
}
.detail-hd {
  color: #acacac;
  margin: 10rpx 0 20rpx;
}
.detail-bd {
  display: flex;
  justify-content: space-between;
  padding: 30rpx 0;
  margin-bottom: 10px;
  margin-top: -5px;
}
.detail-bd .detail {
  padding: 0 10rpx;
}
.detail-bd .detail .detail-value {
  color: #ffbf92;
  font-size: 46pt;
  font-weight: bold;
  padding: 0 15rpx;
}
.detail-bd .detail .detail-text {
  color: #acacac;
  font-size: 13pt;
}
.detail-bd .detail .detail-success {
  color: #ffbf92;
  font-size: 20pt;
  font-weight: bold;
  padding: 0 15rpx;
}
.modal-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background: rgba(0,0,0,0.4);
  overflow: hidden;
}
.modal-body {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}
.fixed-bottom-btn {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #4fc08d;
  color: #fff;
  border-radius: 0;
}
.emptyReservation {
  margin: 1em 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 0.75em 2em;
  color: #fff;
  background-color: #4fc08d;
  box-sizing: border-box;
  border: 1px solid #4fc08d;
  position: fixed;
  left: 0;
  right: 0;
  width: 80%;
  margin: 35% auto;
}
